.heading-1 {
  font-size: 6rem;
  color: $color-blue-dark;
}

.heading-2 {
  font-size: 4rem;
  color: $color-blue-dark;
}

.heading-3 {
  font-size: 3rem;
  color: $color-white;
}

.paragraph {
  font-size: 2rem;
}
